body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator, .calculator *:not(#calculator-buttons-container, #calculator-buttons-container *){
    outline: solid;
    outline-width: 1px;
}

#calculator-body {
    width: 400px;
    height: 600px;
    background-color: rgb(43, 176, 238);
    
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: flex-start;
    align-items: center;

    border-radius: 15px;
    overflow:hidden
}

#calculator-display-body {
    width: 100%;
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    align-items: center;
    justify-content: center;
}

#calculator-display {
    width: 75%;
    background-color: rgb(133, 180, 162);

    display: flex;
    flex: 0 0 10%;
    align-items: center;
    justify-content: flex-end;

    padding-right: 3%;

    font-size: 2em;
}

#calculator-buttons-container {
    width: 78%;

    display: flex;
    flex-wrap: wrap;
    flex: 0 0 70%;
    justify-content: space-between;
    gap: 1%;
}

button {
    flex: 0 1 24%;
    height: 19%;
    border-radius: 5px;
    border-width: 1px;
}

button:hover {
    background-color: white;
}

#clear-button {
    flex-basis: 49%;
}

#equals-button {
    flex-basis: 49%;
}